<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>管理后台</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/metisMenu.min.css" rel="stylesheet">
  <link href="../css/dataTables.bootstrap.css" rel="stylesheet">
  <link href="../css/dataTables.responsive.css" rel="stylesheet">
  <link href="../css/sb-admin-2.css" rel="stylesheet">
  <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin/">主页</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <span th:text="${session.currentAdmin.username}"></span>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li class="divider"></li>
          <li><a href="/admin/logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
          </li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li>
            <a href="/admin/index"><i class="fa fa-dashboard fa-fw"></i> 中奖用户</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">中奖用户</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
        <div id="dataTables-example_filter" class="dataTables_filter">
          <div class="col-sm-8">
            <label><input name="queryInfo" type="search" th:value="${queryInfo}" class="form-control input-sm"
                          placeholder="手机号"
                          aria-controls="dataTables-example">
            </label>
          </div>
          <div class="col-sm-2" style="text-align: left">
            <input id="searchBtn" type="button" class="btn btn-primary input-sm" th:value="搜索">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            中奖列表
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
              <tr>
                <td>姓名</td>
                <td>手机号</td>
                <td>地址</td>
                <td>时间</td>
              </tr>
              </thead>
              <tbody>
              <tr th:each="address : ${customerAddressPage.content}">
                <td th:text="${address.realName}"></td>
                <td th:text="${address.mobilePhone}"></td>
                <td th:text="${address.address}"></td>
                <td th:text="${#calendars.format(address.createdDate,'yyyy-MM-dd')}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
        <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
          <ul class="pagination">
            <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0"
                id="dataTables-example_previous"><a href="javascript:;">上一页</a></li>
            <li th:each="page : ${pages}" class="paginate_button"
                th:classappend="${page == currentPage}? 'active'" aria-controls="dataTables-example"
                tabindex="0"><a class="paginate_a" th:text="${page}" href="javascript:;"></a></li>
            <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0"
                id="dataTables-example_next"><a
              href="javascript:;">下一页</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-wrapper -->
</div>

<!-- /#wrapper -->
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/metisMenu.min.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/dataTables.bootstrap.min.js"></script>
<script src="../js/dataTables.responsive.js"></script>
<script src="../js/sb-admin-2.js"></script>
<script src="../js/utils.js"></script>
<script type="text/javascript" th:inline="javascript">
  var totalPages = [[${customerAddressPage.totalPages}]];
  var defaultSize = 50;
  $(document).ready(function () {
    $('#searchBtn').bind('click', function () {
      var queryInfo = $('input[name=queryInfo]').val();
      window.location.search = '?queryInfo=' + queryInfo;
    });
    $('.paginate_a').bind('click', function () {
      var page = parseInt($(this).text());
      var size = getQueryString("size");
      if (null === size) {
        size = defaultSize;
      }
      window.location.search = '?page=' + page + '&size=' + size;
    });
    Pagination.init(defaultSize, totalPages);
    $('#dataTables-example_previous').bind('click', function () {
      if (Pagination.isTop()) {
        $(this).addClass("disable");
      } else {
        $(this).remove("disable");
      }
      Pagination.prev();
    });
    $('#dataTables-example_next').bind('click', function () {
      if (Pagination.isBottom()) {
        $(this).addClass("disable");
      } else {
        $(this).remove("disable");
      }
      Pagination.next();
    });
  });
</script>

</body>
</html>


