<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>高原之宝 - 全部宣言</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta content="telephone=no" name="format-detection"/>
  <link rel="stylesheet" th:href="@{${application.resourceBase}+'css/global.css'}"/>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
  <script th:inline="javascript">
    var config = [[${config}]];
    wx.config({
      debug: false,
      appId: config.appId,
      timestamp: config.timestamp,
      nonceStr: config.nonceStr,
      signature: config.signature,
      jsApiList: [
        'onMenuShareAppMessage',
        'onMenuShareTimeline',
        'onMenuShareQQ',
        'onMenuShareWeibo'
      ]
    });
  </script>
</head>
<body data-design-width="640">
<section class="top">
  <img class="logo" th:src="@{${application.resourceBase}+'imgs/logo.png'}"/>
</section>
<section class="list">
  <div th:each="manifesto : ${manifestoPage.content}" class="item">

    <div class="pic">
      <div class="head">
        <img th:src="@{${manifesto.avatar}}"/>
      </div>
    </div>
    <div class="info">
      <div th:text="${manifesto.nickName}" class="name">张三</div>
      <div th:text="${manifesto.remark}" class="text"></div>
      <div class="sub">
        <div th:text="${#calendars.format(manifesto.createdDate,'yyyy-MM-dd')}" class="time"></div>
        <div class="good">
          <span th:text="${manifesto.praiseCount}">0</span>
          <input name="manifestoId" hidden th:value="${manifesto.id}"/>
          <img class="j-good" th:src="@{${application.resourceBase}+'imgs/good.png'}"/>
        </div>
      </div>
    </div>
  </div>
</section>
<script th:src="@{${application.resourceBase}+'js/jquery-3.1.1.min.js'}"></script>
<script th:src="@{${application.resourceBase}+'js/MobileReponsive.js'}"></script>
<script th:src="@{${application.resourceBase}+'js/utils.js'}"></script>
<script th:src="@{${application.resourceBase}+'js/wx-share.js'}"></script>
<script type="text/javascript" th:inline="javascript">
  var totalPages = [[${manifestoPage.totalPages}]];
  $(function () {
    $('.j-good').bind('click', function () {
      var manifestoId = $(this).prev().val();
      var that = this;
      var data = {"manifestoId": manifestoId};
      $.ajax({
        url: '/auth/praise',
        type: 'POST',
        dataType: 'json',
        headers: {
          "Content-Type": "application/json;charset=UTF-8"
        },
        data: JSON.stringify(data),
        success: function (data) {
          if (data.code == "ok") {
            var praiseCount = parseInt($(that).find('span').text());
            $(that).find('span').html(++praiseCount);
          } else if (data.code == "fail") {
            console.log(data);
            if (data.body) {
              alert(data.body);
            }
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR.status);
          if (jqXHR.status == 200 || jqXHR.status == 201) {
            var praiseCount = parseInt($(that).find('span').text());
            $(that).find('span').html(++praiseCount);
            return;
          }
          console.log("请求失败", jqXHR.responseText);
          var errorMessage = JSON.parse(jqXHR.responseText);
          alert(errorMessage.message);
        }
      });
    })
  });
  Pagination.init(20, totalPages);
  $(window).bind('scroll', function () {
    if ($(document).scrollTop() + $(window).height() >= $(document).height()) {
      Pagination.next();
    }
    if ($(document).scrollTop() == 0) {
      Pagination.prev();
    }
  });
</script>
</body>
</html>
