<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>高原之宝 - 全部宣言</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta content="telephone=no" name="format-detection"/>
  <link rel="stylesheet" th:href="@{${application.resourceBase}+'css/global.css'}"/>
</head>
<body data-design-width="640">
<section class="top">
  <img class="logo" th:src="@{${application.resourceBase}+'imgs/logo.png'}"/>
</section>
<section class="list">
  <div class="item">
    <div class="pic">
      <div class="head">
        <img th:src="@{${application.resourceBase}+'imgs/head.png'}"/>
      </div>
    </div>
    <div class="info">
      <div class="name">张三</div>
      <div class="text">跟相爱的人，拥有各自的工作，拥有个别共同的爱好，健康快乐的生活在一起！</div>
      <div class="sub">
        <div class="time">2017-2-3</div>
        <div class="good"><span>0</span><img class="j-good" th:src="@{${application.resourceBase}+'imgs/good.png'}"/></div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="pic">
      <div class="head">
        <img src="imgs/head.png"/>
      </div>
    </div>
    <div class="info">
      <div class="name">张三</div>
      <div class="text">跟相爱的人，拥有各自的工作，拥有个别共同的爱好，健康快乐的生活在一起！</div>
      <div class="sub">
        <div class="time">2017-2-3</div>
        <div class="good"><span>20</span><img class="j-good" src="imgs/good.png"/></div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="pic">
      <div class="head">
        <img src="imgs/head.png"/>
      </div>
    </div>
    <div class="info">
      <div class="name">张三</div>
      <div class="text">跟相爱的人，拥有各自的工作，拥有个别共同的爱好，健康快乐的生活在一起！</div>
      <div class="sub">
        <div class="time">2017-2-3</div>
        <div class="good"><span>20</span><img class="j-good" src="imgs/good.png"/></div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="pic">
      <div class="head">
        <img src="imgs/head.png"/>
      </div>
    </div>
    <div class="info">
      <div class="name">张三</div>
      <div class="text">跟相爱的人，拥有各自的工作，拥有个别共同的爱好，健康快乐的生活在一起！</div>
      <div class="sub">
        <div class="time">2017-2-3</div>
        <div class="good"><span>20</span><img class="j-good" src="imgs/good.png"/></div>
      </div>
    </div>
  </div>
</section>
<script th:src="@{${application.resourceBase}+'js/jquery-3.1.1.min.js'}"></script>
<script th:src="@{${application.resourceBase}+'js/MobileReponsive.js'}"></script>
<script>
  $(function () {
    var click = 0;
    $('.list').on('click', '.j-good', function () {
      if (click >= 10) {
        alert('最多只能赞10次哦！');
        return;
      }
      click = click + 1;
      var count = parseInt($(this).prev().text());
      $(this).prev().text(count + 1);
      $.ajax({
        url: submitUrl,
        type: 'POST'
      }).then(function (data) {
        alert(data)
      })
    })
  });
</script>
</body>
</html>
