<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>高原之宝 - 全部宣言</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta content="telephone=no" name="format-detection"/>
  <link rel="stylesheet" th:href="@{${application.resourceBase}+'css/global.css'}"/>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
  <script th:inline="javascript">
    var config = [[${config}]];
    wx.config({
      debug: false,
      appId: config.appId,
      timestamp: config.timestamp,
      nonceStr: config.nonceStr,
      signature: config.signature,
      jsApiList: [
        'onMenuShareAppMessage',
        'onMenuShareTimeline',
        'onMenuShareQQ',
        'onMenuShareWeibo'
      ]
    });
  </script>
</head>
<body data-design-width="640">
<section class="top">
  <img class="logo" th:src="@{${application.resourceBase}+'imgs/logo.png'}"/>
</section>
<section class="introduce">
  <div class="activity">
    <div class="item">
      活动规则：<br/>
      1、关注高原之宝公众号或长按下图二维码<br/>
      2、点击菜单，进入“免费赠饮”活动专区<br/>
      3、点击“我要领奶粉”<br/>
      4、点击发布健康宣言<br/>
      5、邀请好友为您的健康宣言点赞<br/>
      6、点赞数超过38个，即可获得有机全脂粉一罐<br/>
    </div>
    <div class="item">
      <p>
        活动时间：</br>
        4月13日--4月18日
      </p>
    </div>
    <div class="item">
      <p style=" display:inline">活动说明：<br/>
        积攒满38个后，您将收到高原之宝公众号推送的信息，填写个人收货地址，高原之宝将根据您的地址将奶粉配送至您家！本次赠饮共计3200罐，
        仅限四川地区参与,送完为止。
      </p>
    </div>
  </div>
  <img th:src="@{${application.resourceBase}+'imgs/data2.jpg'}"/>
</section>
<script th:src="@{${application.resourceBase}+'js/jquery-3.1.1.min.js'}"></script>
<script th:src="@{${application.resourceBase}+'js/MobileReponsive.js'}"></script>
<script th:src="@{${application.resourceBase}+'js/wx-share.js'}"></script>
</body>
</html>
