<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>高原之宝 - 全部宣言</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta content="telephone=no" name="format-detection"/>
  <link rel="stylesheet" th:href="@{${application.resourceBase}+'css/global.css'}"/>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
</head>
<body data-design-width="640">
<section class="top">
  <img class="logo" th:src="@{${application.resourceBase}+'imgs/logo.png'}"/>
</section>
<section class="introduce">
  <p class="static">如果你想参加宣言活动
    <br>请长按扫描二维码关注，点击自定义菜单：健康宣言，点击发起宣言，即可参与活动！</p>
  <img th:src="@{${application.resourceBase}+'imgs/data2.jpg'}"/>
</section>
<script th:src="@{${application.resourceBase}+'js/jquery-3.1.1.min.js'}"></script>
<script th:src="@{${application.resourceBase}+'js/MobileReponsive.js'}"></script>
<script th:inline="javascript">
  // todo web 修改
  var config = [[${config}]];
  wx.config({
    debug: true,
    appId: config.appId,
    timestamp: config.timestamp,
    nonceStr: config.nonceStr,
    signature: config.signature,
    jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'chooseImage',
      'previewImage',
      'uploadImage',
      'downloadImage'
    ]
  });

  wx.ready(function () {
    wx.checkJsApi({
      jsApiList: [
        'onMenuShareTimeline',
        'onMenuShareAppMessage'
      ],
      success: function (res) {
        alert(JSON.stringify(res));
      }
    });
    wx.onMenuShareAppMessage({
      title: '高原蛋白',
      desc: '高原之宝高原之宝高原之宝高原之宝 ',
      link: window.location.href,
      imgUrl: 'http://www.xzgyzb.com/templets/gyzb/images/logo.gif',
      trigger: function (res) {
        console.log(res);
      },
      success: function (res) {
        console.log(res);
        alert('已分享');
      },
      cancel: function (res) {
        console.log(res);
        alert('已取消');
      },
      fail: function (res) {
        console.log(res);
        alert(JSON.stringify(res));
      }
    });
  });

  wx.error(function (res) {
    console.log(res);
  });
</script>
</body>
</html>
