<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>高原之宝 - 我的宣言</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta content="telephone=no" name="format-detection"/>
  <link rel="stylesheet" href="css/global.css"/>
</head>
<body data-design-width="640">
<section class="top">
  <img class="logo" src="imgs/logo.png"/>
</section>
<section class="main">
  <div class="head-pic">
    <img src="imgs/head.png"/>
  </div>
  <div class="head-name">我是xxx</div>
  <div class="content">
    <div class="pic">
      <img src="imgs/text.jpg"/>
    </div>
    <div class="declaration mt">
      <p>宣言：跟相爱的人，拥有各自的工作，拥有个别共同的爱好，健康快乐的生活在一起！</p>
      <div class="good">
        <img src="imgs/good.png"/>
        <span>11</span>
      </div>
    </div>
    <a href="address.html" class="block mt txt-FF9900 txt-center ">恭喜您，获取全脂奶粉一罐 填写收货地址>></a>
    <div class="mt">
      <a href="introduce.html" class="btn">我也要宣言</a>
    </div>
    <div class="des">
      <span>已有400个人发表了健康宣言</span>
      <a class="block" href="declaration.html">去看看吧>></a>
    </div>
  </div>
</section>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/MobileReponsive.js"></script>
</body>
</html>
