<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>高原之宝 - 我的宣言</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta content="telephone=no" name="format-detection"/>
  <link rel="stylesheet" th:href="@{${application.resourceBase}+'css/global.css'}"/>
</head>
<body data-design-width="640">
<section class="top">
  <img class="logo" th:src="@{${application.resourceBase}+'imgs/logo.png'}"/>
</section>
<section class="main">
  <div class="head-pic">
    <img th:src="${manifesto.avatar}">
  </div>
  <div class="head-name">我是<span th:text="${manifesto.nickName}"></span></div>
  <div class="content">
    <div class="pic">
      <img th:src="@{${application.resourceBase}+'imgs/text.jpg'}"/>
    </div>
    <div class="declaration mt">
      <p th:text="'宣言：' + ${manifesto.remark}"></p>
      <div class="good">
        <img id="praise" th:src="@{${application.resourceBase}+'imgs/good.png'}">
        <span id="praiseCount" th:text="${manifesto.praiseCount}">0</span>
      </div>
    </div>
    <a id="gotoAddress" th:if="${isWined && isSelf}" href="javascript:;" class="block mt txt-FF9900 txt-center ">恭喜您，获取全脂奶粉一罐
      填写收货地址>></a>
    <div class="mt">
      <a th:href="@{/introduce}" class="btn">我也要宣言</a>
    </div>
    <div class="des">
      <span>已有<span th:text="${totalManifesto}"></span>个人发表了健康宣言</span>
      <a class="block" th:href="@{/auth/declaration}">去看看吧>></a>
    </div>
  </div>
</section>
<script th:src="@{${application.resourceBase}+'js/jquery-3.1.1.min.js'}"></script>
<script th:src="@{${application.resourceBase}+'js/MobileReponsive.js'}"></script>
<script th:inline="javascript">
  var existAddress = [[${existAddress}]];
  var manifestoId = [[${manifesto.manifestoId}]];
  var praiseCount = [[${manifesto.praiseCount}]];

  $(function () {
    $("#gotoAddress").bind('click', function () {
      if (!existAddress) {
        $(this).href = "/auth/address";
      } else {
        alert("您之前已经填写过地址")
      }
    });

    $("#praise").bind('click', function () {
      var data = {"manifestoId": manifestoId}
      $.ajax({
        url: '/auth/praise',
        type: 'POST',
        dataType: 'json',
        headers: {
          "Content-Type": "application/json;charset=UTF-8"
        },
        data: JSON.stringify(data),
        success: function (data) {
          window.location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR.status);
          if (jqXHR.status == 200 || jqXHR.status == 201) {
            $("#praiseCount").text(praiseCount++);
            return;
          }
          console.log("请求失败", jqXHR.responseText);
          var errorMessage = JSON.parse(jqXHR.responseText);
          alert(errorMessage.message);
        }
      });
    });
  });
</script>
</body>
</html>
